Repository sarderiftekhar/skilloncall-ca: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, composer format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css}": [
    "prettier --write"
  ],
  "*.php": [
    "composer format"
  ]
}

fix: reorder Province and City fields in worker onboarding to match Canadian address format
  resources/js/components/onboarding/PersonalInfoStep.tsx
Due: eslint --fix, prettier --write

fix: handle city data with province suffix for backward compatibility
  resources/js/components/onboarding/PersonalInfoStep.tsx
Due: eslint --fix, prettier --write

fix: filter cities by selected province in worker onboarding
  resources/js/components/onboarding/PersonalInfoStep.tsx
Due: eslint --fix, prettier --write

feat: add API endpoint for city search by province code
  app/Http/Controllers/LocationController.php
  routes/worker.php
Due: composer format

feat: replace hardcoded cities with API-based fetching from database
  resources/js/components/onboarding/PersonalInfoStep.tsx
Due: eslint --fix, prettier --write

fix: add GlobalProvincesAndCitiesSeeder to DatabaseSeeder
  database/seeders/DatabaseSeeder.php
Due: composer format

feat: add EN/FR bilingual support with query param locale switching
  app/Http/Controllers/Worker/OnboardingController.php
  app/Http/Middleware/LocaleFromQuery.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  database/seeders/DatabaseSeeder.php
  resources/js/hooks/useTranslations.ts
  resources/js/pages/welcome.tsx
  resources/js/pages/worker/onboarding.tsx
  resources/lang/en/onboarding.php
  resources/lang/en/welcome.php
  resources/lang/fr/onboarding.php
  resources/lang/fr/welcome.php
  routes/web.php
Due: eslint --fix, prettier --write, composer format

feat: make date of birth field optional in worker onboarding
  app/Http/Controllers/Worker/OnboardingController.php
  resources/js/components/onboarding/PersonalInfoStep.tsx
Due: eslint --fix, prettier --write, composer format

fix: remove helper text from bio field in onboarding - Removed 'Letters, numbers, spaces, and common punctuation' description - Now only shows character count
  resources/js/components/ui/validated-textarea.tsx
Due: eslint --fix, prettier --write

fix: remove duplicate skills and license required text from onboarding
  resources/js/components/onboarding/SkillsExperienceStep.tsx
Due: eslint --fix, prettier --write

fix: make font sizes consistent in skills dropdown - Added text-sm class to all skill items - Both category headers and skill names now use same font size
  resources/js/components/onboarding/SkillsExperienceStep.tsx
Due: eslint --fix, prettier --write

feat: add ability to add custom skills in onboarding
  resources/js/components/onboarding/SkillsExperienceStep.tsx
Due: eslint --fix, prettier --write

feat: expand GlobalSkillsSeeder to 488+ skills and organize alphabetically
  database/seeders/GlobalSkillsSeeder.php
Due: composer format

fix: handle custom skills in worker onboarding step 2
  app/Http/Controllers/Worker/OnboardingController.php
Due: composer format

fix: correctly modify data array when handling custom skills
  app/Http/Controllers/Worker/OnboardingController.php
Due: composer format

fix: resolve Radix UI Select empty value error in onboarding
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/js/components/onboarding/WorkHistoryStep.tsx
Due: eslint --fix, prettier --write

fix: remove duplicate industries and skills from database
  database/seeders/GlobalIndustriesSeeder.php
  database/seeders/GlobalSkillsSeeder.php
Due: composer format

feat: add custom skill and industry support in work history
  app/Http/Controllers/Worker/OnboardingController.php
  resources/js/components/onboarding/WorkHistoryStep.tsx
Due: eslint --fix, prettier --write, composer format

feat: Fix work history toggle and improve UX
  .cursor/rules/rules.mdc
  resources/js/components/onboarding/WorkHistoryStep.tsx
Due: eslint --fix, prettier --write

refactor: remove language section from step 5, fix duplicate languages, and fix null input values
  .cursor/rules/rules.mdc
  app/Console/Commands/CleanupDuplicateLanguages.php
  app/Http/Controllers/Worker/OnboardingController.php
  resources/js/components/onboarding/LanguagesAvailabilityStep.tsx
  resources/js/components/onboarding/LocationPreferencesStep.tsx
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/js/components/onboarding/WorkHistoryStep.tsx
  resources/js/pages/worker/onboarding.tsx
  resources/lang/en/onboarding.php
  resources/lang/fr/onboarding.php
Due: eslint --fix, prettier --write, composer format

fix: prevent duplicate records in all global data seeders
  database/seeders/GlobalCertificationsSeeder.php
  database/seeders/GlobalIndustriesSeeder.php
  database/seeders/GlobalLanguagesSeeder.php
  database/seeders/GlobalPostalCodesSeeder.php
  database/seeders/GlobalSkillsSeeder.php
Due: composer format

feat: implement monthly availability system for worker onboarding
  app/Http/Controllers/Worker/OnboardingController.php
  app/Models/WorkerAvailability.php
  database/migrations/2025_10_28_005322_add_month_to_worker_availability.php
  documentation/monthly-availability-implementation.md
  resources/js/components/onboarding/LanguagesAvailabilityStep.tsx
  resources/lang/en/onboarding.php
  resources/lang/fr/onboarding.php
Due: eslint --fix, prettier --write, composer format

style: enhance month tabs with prominent card design
  resources/js/components/onboarding/LanguagesAvailabilityStep.tsx
Due: eslint --fix, prettier --write

fix: remove language validation from Step 5 (availability-only step)
  app/Http/Controllers/Worker/OnboardingController.php
Due: composer format

feat: complete onboarding at Step 5 and move portfolio to profile page
  app/Http/Controllers/Worker/OnboardingController.php
  database/migrations/2025_10_28_005322_add_month_to_worker_availability.php
  documentation/portfolio-profile-page-implementation.md
  documentation/step-6-removal-summary.md
  resources/js/components/onboarding/LanguagesAvailabilityStep.tsx
  resources/js/pages/worker/onboarding.tsx
Due: eslint --fix, prettier --write, composer format

fix: make travel_distance_max field optional in worker onboarding step 4
  app/Http/Controllers/Worker/OnboardingController.php
Due: composer format

fix: resolve CSRF token mismatch error on worker onboarding completion step
  app/Http/Controllers/Worker/OnboardingController.php
  resources/js/pages/worker/onboarding.tsx
Due: eslint --fix, prettier --write, composer format

feat: implement province-city dependency with lazy loading in onboarding
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/lang/en/onboarding.php
  resources/lang/fr/onboarding.php
Due: eslint --fix, prettier --write, composer format

feat: replace maple leaf emoji with custom image on home page
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

feat: make emergency contact optional in onboarding step 1
  app/Http/Controllers/Worker/OnboardingController.php
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/js/lib/validation.ts
  resources/lang/en/onboarding.php
  resources/lang/fr/onboarding.php
Due: eslint --fix, prettier --write, composer format

feat: add custom maple leaf image
  public/images/mapple-leaf.png
Due: none

Fix migrations/seeders and make Professional References optional
  database/migrations/2025_10_28_005322_add_month_to_worker_availability.php
  database/seeders/DatabaseSeeder.php
  database/seeders/GlobalIndustriesSeeder.php
  database/seeders/GlobalProvincesAndCitiesSeeder.php
  database/seeders/GlobalSkillsSeeder.php
  package-lock.json
  resources/js/components/onboarding/WorkHistoryStep.tsx
Due: eslint --fix, prettier --write, composer format

Fix worker onboarding and file upload issues
  app/Console/Commands/DebugOnboardingLogs.php
  app/Http/Controllers/Worker/OnboardingController.php
  app/Http/Controllers/Worker/WorkerProfileController.php
  app/Models/WorkerProfile.php
  database/migrations/2025_10_28_210803_make_worker_profile_optional_fields_nullable.php
  resources/js/components/profile/TabNavigation.tsx
  resources/js/components/profile/tabs/LanguagesTab.tsx
  resources/js/components/profile/tabs/PersonalInfoTab.tsx
  resources/js/components/profile/tabs/PortfolioCertificationsTab.tsx
  resources/js/components/profile/tabs/SkillsExperienceTab.tsx
  resources/js/components/profile/tabs/WorkHistoryTab.tsx
  resources/js/pages/worker/onboarding.tsx
  resources/js/pages/worker/profile.tsx
Due: eslint --fix, prettier --write, composer format

feat: implement worker availability management page
  app/Http/Controllers/Settings/ProfileController.php
  app/Http/Controllers/Worker/OnboardingController.php
  app/Http/Controllers/Worker/WorkerAvailabilityController.php
  app/Http/Middleware/CheckUserActive.php
  bootstrap/app.php
  database/migrations/2025_10_28_230325_add_is_active_to_users_table.php
  package-lock.json
  package.json
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/delete-user.tsx
  resources/js/components/profile/tabs/PersonalInfoTab.tsx
  resources/js/components/ui/tabs.tsx
  resources/js/layouts/settings/layout.tsx
  resources/js/pages/settings/appearance.tsx
  resources/js/pages/settings/password.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/worker/availability.tsx
  resources/js/pages/worker/dashboard.tsx
  resources/js/pages/worker/profile.tsx
  resources/lang/en/availability.php
  resources/lang/fr/availability.php
  routes/settings.php
  routes/web.php
  routes/worker.php
Due: eslint --fix, prettier --write, composer format

feat: Fix name consistency and subscription page functionality
  app/Http/Controllers/SubscriptionController.php
  app/Http/Controllers/Worker/OnboardingController.php
  app/Http/Controllers/Worker/WorkerProfileController.php
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/app-sidebar-header.tsx
  resources/js/pages/subscriptions/index.tsx
  resources/js/pages/welcome.tsx
  resources/lang/en/subscriptions.php
  resources/lang/fr/subscriptions.php
Due: eslint --fix, prettier --write, composer format

feat: Implement SkillOnCall Progress Tracker with public access
  app/Http/Controllers/SkillOnCallProgressController.php
  app/Models/ProgressEntry.php
  database/migrations/2025_10_29_132215_create_progress_entries_table.php
  resources/js/layouts/public-layout.tsx
  resources/js/pages/Progress/Create.tsx
  resources/js/pages/Progress/Dashboard.tsx
  resources/js/pages/Progress/Edit.tsx
  resources/js/pages/Progress/ViewEntryModal.tsx
  routes/api.php
  routes/web.php
Due: eslint --fix, prettier --write, composer format

Fix Inertia response error in progress tracker
  app/Http/Controllers/SkillOnCallProgressController.php
  resources/js/pages/Progress/Dashboard.tsx
Due: eslint --fix, prettier --write, composer format
