Repository sarderiftekhar/skilloncall-ca: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, composer format

Fix CSRF token issue for public progress tracker
  resources/js/app.tsx
Due: eslint --fix, prettier --write

fix: Add explicit session and CSRF middleware configuration to resolve 419 errors
  bootstrap/app.php
Due: composer format

feat: add bilingual validation messages and improve error UX
  .cursor/rules/rules.mdc
  app/Http/Controllers/Worker/OnboardingController.php
  bootstrap/app.php
  resources/js/components/onboarding/LocationPreferencesStep.tsx
  resources/js/pages/worker/onboarding.tsx
  resources/lang/en/validation.php
  resources/lang/fr/validation.php
Due: eslint --fix, prettier --write, composer format

Fix worker onboarding Step 4: service area city loading, postal code validation, and green checkmarks
  resources/js/components/onboarding/LocationPreferencesStep.tsx
Due: eslint --fix, prettier --write

feat: enhance worker profile page with comprehensive improvements
  app/Http/Controllers/Worker/WorkerProfileController.php
  app/Models/WorkerCertification.php
  app/Models/WorkerProfile.php
  database/migrations/2025_10_30_224220_add_overall_experience_to_worker_profiles_table.php
  database/migrations/2025_10_30_230440_make_global_certification_id_nullable_in_worker_certifications_table.php
  resources/js/components/profile/TabNavigation.tsx
  resources/js/components/profile/tabs/LanguagesTab.tsx
  resources/js/components/profile/tabs/PersonalInfoTab.tsx
  resources/js/components/profile/tabs/PortfolioCertificationsTab.tsx
  resources/js/components/profile/tabs/SkillsExperienceTab.tsx
  resources/js/components/profile/tabs/WorkHistoryTab.tsx
Due: eslint --fix, prettier --write, composer format

feat: add subscription badge and language switcher to navigation
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/language-switcher.tsx
  resources/js/components/subscription-badge.tsx
  resources/js/types/index.d.ts
Due: eslint --fix, prettier --write, composer format

feat: complete French translation system for worker dashboard
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/hooks/useTranslations.ts
  resources/js/pages/worker/dashboard.tsx
  resources/js/types/index.d.ts
  resources/lang/en/dashboard.php
  resources/lang/fr/dashboard.php
Due: eslint --fix, prettier --write, composer format

feat: Complete saved jobs functionality and UI improvements
  .cursor/rules/rules.mdc
  app/Http/Controllers/Worker/WorkerJobController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/SavedJob.php
  app/Models/User.php
  app/Models/WorkerProfile.php
  database/migrations/2025_10_31_005148_create_saved_jobs_table.php
  database/seeders/JobSeeder.php
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/language-switcher.tsx
  resources/js/pages/worker/dashboard.tsx
  resources/js/pages/worker/find-jobs.tsx
  resources/js/pages/worker/saved-jobs.tsx
  resources/lang/en/dashboard.php
  resources/lang/fr/dashboard.php
  routes/worker.php
Due: eslint --fix, prettier --write, composer format

fix: Resolve disappearing profession filter options
  app/Http/Controllers/Worker/WorkerJobController.php
  resources/js/pages/worker/find-jobs.tsx
Due: eslint --fix, prettier --write, composer format

fix: Resolve undefined method error by moving profession extraction inline
  app/Http/Controllers/Worker/WorkerJobController.php
Due: composer format

fix: Improve profession extraction by excluding non-profession terms
  app/Http/Controllers/Worker/WorkerJobController.php
Due: composer format

feat: Add loading animation to saved jobs page
  resources/js/pages/worker/saved-jobs.tsx
Due: eslint --fix, prettier --write

fix: Make hover animations smooth like dashboard on saved jobs page
  resources/js/pages/worker/saved-jobs.tsx
Due: eslint --fix, prettier --write

refine: Make hover animations more subtle on saved jobs page
  resources/js/pages/worker/saved-jobs.tsx
Due: eslint --fix, prettier --write

feat: Add comprehensive loading animations and UI improvements across worker pages
  resources/js/components/profile/TabNavigation.tsx
  resources/js/pages/worker/availability.tsx
  resources/js/pages/worker/find-jobs.tsx
  resources/js/pages/worker/profile.tsx
  resources/js/pages/worker/saved-jobs.tsx
  resources/lang/en/dashboard.php
  resources/lang/fr/dashboard.php
Due: eslint --fix, prettier --write, composer format

fix: Add missing useTranslations hook to pages for proper sidebar navigation translation
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/employer/dashboard.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/subscriptions/index.tsx
Due: eslint --fix, prettier --write

fix: Load dashboard translations for subscriptions, settings, admin, and employer pages
  app/Http/Middleware/HandleInertiaRequests.php
Due: composer format

feat: Add coming soon pages for My Applications and Messages with brand consistency
  .cursor/rules/rules.mdc
  app/Http/Controllers/Worker/WorkerApplicationController.php
  app/Http/Controllers/Worker/WorkerMessageController.php
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/nav-main.tsx
  resources/js/pages/worker/applications/coming-soon.tsx
  resources/js/pages/worker/messages/coming-soon.tsx
  routes/worker.php
Due: eslint --fix, prettier --write, composer format

Add employer onboarding system with tests
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Employer/EmployerDashboardController.php
  app/Http/Controllers/Employer/OnboardingController.php
  app/Models/EmployerProfile.php
  app/Models/GlobalProvince.php
  app/Models/User.php
  database/factories/EmployerProfileFactory.php
  database/factories/GlobalIndustryFactory.php
  database/factories/GlobalProvinceFactory.php
  database/factories/JobFactory.php
  database/migrations/2025_10_31_183850_create_employer_profiles_table.php
  resources/js/components/onboarding/employer/BusinessInfoStep.tsx
  resources/js/components/onboarding/employer/LocationStep.tsx
  resources/js/pages/employer/onboarding.tsx
  resources/lang/en/onboarding.php
  resources/lang/en/validation.php
  resources/lang/fr/onboarding.php
  resources/lang/fr/validation.php
  routes/employer.php
  routes/web.php
  routes/worker.php
  skill
  tests/Feature/Employer/EmployerOnboardingRoutesTest.php
  tests/Feature/Employer/EmployerOnboardingTest.php
  tests/Feature/Employer/EmployerRegistrationTest.php
  tests/Pest.php
  tests/Unit/EmployerProfileTest.php
Due: eslint --fix, prettier --write, composer format

Fix: Resolve 419 CSRF errors on worker onboarding
  app/Http/Controllers/Employer/EmployerJobController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/Employer/StoreJobRequest.php
  app/Http/Requests/Employer/UpdateJobRequest.php
  app/Services/Employer/EmployerJobService.php
  bootstrap/app.php
  resources/js/app.tsx
  resources/js/components/nav-main.tsx
  resources/js/pages/employer/jobs/create.tsx
  resources/js/pages/worker/onboarding.tsx
  resources/lang/en/jobs.php
  resources/lang/fr/jobs.php
  tests/Feature/Employer/EmployerJobTest.php
Due: eslint --fix, prettier --write, composer format

Add employer navigation menu items and update job creation form
  app/Http/Controllers/Employer/EmployerJobController.php
  app/Http/Requests/Employer/StoreJobRequest.php
  app/Http/Requests/Employer/UpdateJobRequest.php
  app/Models/Job.php
  database/migrations/2025_10_25_005929_create_global_provinces_table.php
  database/migrations/2025_10_25_005935_create_global_cities_table.php
  database/migrations/2025_10_25_005943_add_global_location_references_to_worker_profiles_table.php
  database/migrations/2025_10_31_210427_add_province_and_city_to_job_postings_table.php
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/onboarding/WorkHistoryStep.tsx
  resources/js/components/onboarding/employer/BusinessInfoStep.tsx
  resources/js/pages/employer/jobs/create.tsx
  resources/lang/en/jobs.php
  resources/lang/en/welcome.php
  resources/lang/fr/jobs.php
  resources/lang/fr/welcome.php
Due: eslint --fix, prettier --write, composer format

Update sidebar components and employer dashboard
  resources/css/app.css
  resources/js/components/app-sidebar.tsx
  resources/js/components/ui/sidebar.tsx
  resources/js/pages/employer/dashboard.tsx
Due: eslint --fix, prettier --write

fix: Update registration form and UI labels from 'Worker' to 'Employee'
  resources/js/components/app-sidebar-header.tsx
  resources/js/pages/auth/register.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

feat: Complete Phase 5 - Frontend route migration from worker to employee
  app/Http/Controllers/SubscriptionController.php
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/js/components/profile/tabs/PersonalInfoTab.tsx
  resources/js/pages/employee/availability.tsx
  resources/js/pages/employee/dashboard.tsx
  resources/js/pages/employee/find-jobs.tsx
  resources/js/pages/employee/onboarding.tsx
  resources/js/pages/employee/profile.tsx
  resources/js/pages/subscriptions/index.tsx
  resources/js/pages/welcome.tsx
  resources/js/types/index.d.ts
Due: eslint --fix, prettier --write, composer format

fix: Update registration validation rule from 'worker' to 'employee'
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: composer format

fix: Create missing Employee service classes
  app/Services/Employee/EmployeeApplicationService.php
  app/Services/Employee/EmployeeDashboardService.php
  app/Services/Employee/EmployeePaymentService.php
  app/Services/Employee/EmployeeSkillService.php
Due: composer format

refactor: Remove long profile completion card, add completion badge to header
  resources/js/pages/employee/dashboard.tsx
Due: eslint --fix, prettier --write

fix: Remove animation from 'Active Employee' badge
  resources/js/pages/employee/dashboard.tsx
Due: eslint --fix, prettier --write

fix: Update dashboard translation keys from worker to employee
  resources/lang/en/dashboard.php
  resources/lang/fr/dashboard.php
Due: composer format

fix: Resolve static analysis errors in SubscriptionController
  app/Http/Controllers/SubscriptionController.php
Due: composer format

fix: Remove duplicate employerProfile() method in User model
  app/Models/User.php
Due: composer format

fix: Replace all remaining 'worker' references with 'employee' in frontend
  resources/js/pages/employee/applications/coming-soon.tsx
  resources/js/pages/employee/find-jobs.tsx
  resources/js/pages/employee/messages/coming-soon.tsx
  resources/js/pages/employee/saved-jobs.tsx
Due: eslint --fix, prettier --write

fix: Implement full job listing functionality in EmployeeJobController
  app/Http/Controllers/Employee/EmployeeJobController.php
  routes/employee.php
Due: composer format

fix: Load dashboard translations for employee routes in sidebar
  app/Http/Middleware/HandleInertiaRequests.php
Due: composer format

Fix: Address 419 CSRF errors and improve error handling
  app/Http/Middleware/VerifyCsrfToken.php
  documentation/419-502-errors-analysis.md
  documentation/419-502-errors-fixes-summary.md
  resources/js/app.tsx
  resources/js/components/contact-modal.tsx
  resources/js/components/onboarding/LocationPreferencesStep.tsx
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/js/components/onboarding/employer/LocationStep.tsx
  resources/js/components/profile/tabs/PersonalInfoTab.tsx
  resources/js/pages/employer/jobs/create.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write, composer format

Fix 502 Bad Gateway errors and ReflectionException
  app/Http/Controllers/Employee/EmployeeProfileController.php
  app/Http/Controllers/SkillOnCallProgressController.php
  app/Jobs/SendEmailJob.php
  app/Providers/AppServiceProvider.php
  app/Services/EmailService.php
  app/Services/ImageCompressionService.php
  composer.json
  composer.lock
  config/database.php
  documentation/502-bad-gateway-errors-analysis.md
  documentation/502-bad-gateway-fixes-implemented.md
  resources/js/utils/fetchWithTimeout.ts
Due: eslint --fix, prettier --write, composer format

Move QA-WORKER-TO-EMPLOYEE-FIXES.md to documentation folder
  documentation/QA-WORKER-TO-EMPLOYEE-FIXES.md
Due: none

Fix employer registration and 419 CSRF errors
  resources/js/app.tsx
  resources/js/pages/auth/register.tsx
  resources/js/pages/employer/onboarding.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

Make all form labels bold for better visibility
  resources/js/pages/auth/register.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css})
  composer format: any of: *.php
