Repository sarderiftekhar/skilloncall-ca: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, composer format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css}": [
    "prettier --write"
  ],
  "*.php": [
    "composer format"
  ]
}

docs: Update security implementation report with completed features
  documentation/security-implementation-report.md
Due: none

Fix 502 Bad Gateway on employee onboarding page when switching to French
  app/Http/Controllers/Employee/OnboardingController.php
  app/Http/Middleware/HandleInertiaRequests.php
Due: composer format

Further optimize employee onboarding to fix 502 error on French locale
  app/Http/Controllers/Employee/OnboardingController.php
  resources/lang/fr/onboarding.php
Due: composer format

Add exception logging system with admin log viewer
  app/Http/Controllers/Admin/ExceptionLogController.php
  app/Models/ExceptionLog.php
  bootstrap/app.php
  database/migrations/2025_11_23_000001_create_exception_logs_table.php
  resources/js/components/app-sidebar.tsx
  resources/js/pages/admin/logs/exceptions.tsx
  resources/js/routes/admin/index.ts
  resources/lang/en/dashboard.php
  resources/lang/fr/dashboard.php
  routes/admin.php
Due: eslint --fix, prettier --write, composer format

Fix deployment error: Remove invalid Throwable use statement
  bootstrap/app.php
Due: composer format

Fix exception log viewer: Extract data array from paginator
  app/Http/Controllers/Admin/ExceptionLogController.php
Due: composer format

Fix 502 error on Onboarding: Increase memory limit and optimize queries
  app/Http/Controllers/Employee/OnboardingController.php
  app/Http/Middleware/HandleInertiaRequests.php
Due: composer format

Fix memory exhaustion: Load onboarding data via API on demand
  app/Http/Controllers/Employee/OnboardingController.php
  app/Http/Controllers/Employee/ReferenceDataController.php
  resources/js/pages/employee/onboarding.tsx
  routes/employee.php
Due: eslint --fix, prettier --write, composer format

Update generated route definitions
  resources/js/routes/employee/api/index.ts
  resources/js/routes/employee/onboarding/index.ts
Due: eslint --fix, prettier --write

Fix Uncaught ReferenceError: Import useEffect in EmployeeOnboarding.tsx
  resources/js/pages/employee/onboarding.tsx
Due: eslint --fix, prettier --write

Update generated route definitions (auto-generated)
  resources/js/routes/admin/index.ts
  resources/js/routes/admin/users/index.ts
  resources/js/routes/employee/applications/index.ts
  resources/js/routes/employee/jobs/index.ts
  resources/js/routes/employee/profile/index.ts
  resources/js/routes/employer/payments/index.ts
  resources/js/routes/employer/reviews/index.ts
  resources/js/routes/reauthenticate/index.ts
  resources/js/routes/uat-testing/admin/index.ts
Due: eslint --fix, prettier --write

feat: Implement language selection modal to prevent 502 errors
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/language-selection-modal.tsx
  resources/js/pages/welcome.tsx
  resources/js/routes/admin/logs/exceptions/index.ts
  resources/js/routes/admin/logs/index.ts
  resources/js/types/index.d.ts
Due: eslint --fix, prettier --write, composer format

Implement hybrid language selection approach (auto-detect + dismissible banner)
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Employee/ReferenceDataController.php
  app/Http/Controllers/LocationController.php
  app/Http/Controllers/Settings/LocaleController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/GlobalCertification.php
  app/Models/GlobalCity.php
  app/Models/GlobalIndustry.php
  app/Models/GlobalLanguage.php
  app/Models/GlobalProvince.php
  app/Models/GlobalSkill.php
  app/Models/User.php
  composer.json
  composer.lock
  database/migrations/2025_11_25_000001_add_locale_to_users_table.php
  database/migrations/2025_11_25_000002_add_translations_to_global_tables.php
  database/seeders/BilingualReferenceDataSeeder.php
  documentation/language-detection-logic.md
  documentation/multilingual-database-content.md
  resources/js/app.tsx
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/language-banner.tsx
  resources/js/components/language-selection-modal.tsx
  resources/js/components/language-switcher.tsx
  resources/js/lib/locale-storage.ts
  resources/js/pages/how-it-works.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/welcome.tsx
  resources/js/routes/employee/api/cities/by/index.ts
  resources/js/routes/employee/api/index.ts
  resources/js/routes/employer/api/cities/by/index.ts
  resources/js/routes/employer/api/index.ts
  resources/js/routes/index.ts
  resources/js/types/index.d.ts
  resources/lang/en/dashboard.php
  resources/lang/en/geo.php
  resources/lang/fr/dashboard.php
  resources/lang/fr/geo.php
  routes/settings.php
Due: eslint --fix, prettier --write, composer format

Add comprehensive server deployment guide for Google Translate system
  documentation/google-translate-to-server-deployment.md
Due: none
