Repository sarderiftekhar/skilloncall-ca: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, composer format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css}": [
    "prettier --write"
  ],
  "*.php": [
    "composer format"
  ]
}

docs: Add comprehensive Employer Onboarding 419 CSRF Error investigation report
  documentation/employer-onboarding-419-investigation.md
Due: none

Fix 419 CSRF errors and city population issues
  app/Http/Controllers/Employee/OnboardingController.php
  app/Http/Middleware/HandleInertiaRequests.php
  database/seeders/DatabaseSeeder.php
  project_analysis/summary.md
  resources/js/app.tsx
  resources/js/components/CsrfTokenUpdater.tsx
  resources/js/components/onboarding/PersonalInfoStep.tsx
  resources/js/layouts/app-layout.tsx
  resources/js/pages/employee/onboarding.tsx
Due: eslint --fix, prettier --write, composer format

Update employee job features and add companies/jobs seeder
  app/Http/Controllers/Employee/EmployeeJobController.php
  database/seeders/CompaniesAndJobsSeeder.php
  database/seeders/DatabaseSeeder.php
  resources/js/pages/employee/find-jobs.tsx
  resources/js/pages/employee/saved-jobs.tsx
Due: eslint --fix, prettier --write, composer format

Add employee registration email system with event and listener
  .cursorignore
  app/Events/Employee/EmployeeRegistered.php
  app/Jobs/SendEmailJob.php
  app/Listeners/SendEmployeeRegistrationEmail.php
  app/Observers/UserObserver.php
  app/Providers/EventServiceProvider.php
  app/Services/EmailService.php
  bootstrap/providers.php
Due: composer format

chore: update translations
  .playwright-mcp/skilloncall-en-desktop.png
  .playwright-mcp/skilloncall-en-mobile.png
  .playwright-mcp/skilloncall-en-tablet.png
  app/Http/Controllers/Employee/OnboardingController.php
  app/Http/Controllers/Worker/OnboardingController.php
  app/Providers/AppServiceProvider.php
  app/Providers/EventServiceProvider.php
  database/migrations/2025_11_07_000001_update_reference_relationship_enum.php
  resources/js/components/onboarding/WorkHistoryStep.tsx
  resources/js/components/profile/tabs/WorkHistoryTab.tsx
  resources/js/pages/welcome.tsx
  resources/lang/en/onboarding.php
  resources/lang/en/welcome.php
  resources/lang/fr/onboarding.php
  resources/lang/fr/welcome.php
Due: eslint --fix, prettier --write, composer format

Add French translations for Contact, Privacy, and Terms modals; Update footer links to point Subscription Plans and Pro Plans to pricing page
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/contact-modal.tsx
  resources/js/components/privacy-policy-modal.tsx
  resources/js/components/terms-modal.tsx
  resources/js/pages/how-it-works.tsx
  resources/js/pages/pricing.tsx
  resources/js/pages/welcome.tsx
  resources/lang/en/welcome.php
  resources/lang/fr/welcome.php
Due: eslint --fix, prettier --write, composer format

Fix 502 error: optimize middleware translation loading to prevent double array merge
  app/Http/Middleware/HandleInertiaRequests.php
Due: composer format

Fix subscription plan seeder duplicate entry error by using updateOrCreate
  database/seeders/SubscriptionPlanSeeder.php
Due: composer format

Temporarily disable employee registration emails during seeding to avoid rate limits
  app/Observers/UserObserver.php
Due: composer format

Remove Husky, commitlint, and lint-staged from the project
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  commitlint.config.cjs
  package-lock.json
  package.json
Due: prettier --write

Fix 502 gateway errors and seeder email issues
  app/Http/Middleware/HandleInertiaRequests.php
  app/Observers/UserObserver.php
  database/seeders/CompaniesAndJobsSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/EmployeeSeeder.php
  documentation/nov-9-502-error-analysis.md
  documentation/nov-9-502-error-fix-applied.md
  documentation/seeder-email-prevention-fix.md
Due: composer format

fix: Replace remaining hardcoded footer help center link with translation key
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

Fix employee profile page: Add conditional rendering for empty sections, fix image path normalization for profile and portfolio photos, add portfolio photos display, and improve error handling
  app/Http/Controllers/Employer/EmployerJobController.php
  app/Http/Controllers/Employer/EmployerWorkerController.php
  app/Http/Requests/Employer/HireWorkerRequest.php
  app/Http/Requests/Employer/RateWorkerRequest.php
  app/Models/EmployeeProfile.php
  app/Services/Employer/EmployerWorkerService.php
  database/migrations/2025_11_07_000001_update_reference_relationship_enum.php
  resources/css/app.css
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/delete-user.tsx
  resources/js/components/nav-main.tsx
  resources/js/components/ui/slider.tsx
  resources/js/components/user-menu-content.tsx
  resources/js/hooks/useTranslations.ts
  resources/js/pages/employer/dashboard.tsx
  resources/js/pages/employer/jobs/index.tsx
  resources/js/pages/employer/jobs/show.tsx
  resources/js/pages/employer/workers/index.tsx
  resources/js/pages/employer/workers/show.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/types/index.d.ts
  resources/lang/en/dashboard.php
  resources/lang/en/jobs.php
  resources/lang/fr/dashboard.php
  resources/lang/fr/jobs.php
  vite.config.ts
Due: eslint --fix, prettier --write, composer format

Add subscription-based restrictions for free tier employers: Hide contact info (email, phone, address) with blur effect and tooltips, add locked Message button that requires subscription
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/pages/employer/workers/show.tsx
  resources/lang/en/dashboard.php
  resources/lang/fr/dashboard.php
Due: eslint --fix, prettier --write, composer format

Add How It Works page with bilingual support (EN/FR) - Emphasize finding and recruiting skilled employees and finding extra shifts
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/pages/how-it-works.tsx
  resources/js/pages/welcome.tsx
  resources/lang/en/welcome.php
  resources/lang/fr/welcome.php
  routes/web.php
Due: eslint --fix, prettier --write, composer format

Fix image URL handling to prevent 403 errors
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Employer/OnboardingController.php
  app/Services/Employer/EmployerWorkerService.php
  resources/js/components/profile/tabs/PersonalInfoTab.tsx
  resources/js/components/profile/tabs/PortfolioCertificationsTab.tsx
  resources/js/pages/auth/login.tsx
  resources/js/pages/employee/profile.tsx
  resources/js/pages/employer/workers/index.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write, composer format

Fix Radix UI Select crash on Manage Jobs page
  resources/js/pages/employer/jobs/index.tsx
Due: eslint --fix, prettier --write

Adjust spacing: Move Start Recruiting button closer to conclusion, increase gap, and move Why Choose section up
  resources/js/pages/how-it-works.tsx
Due: eslint --fix, prettier --write

Implement comprehensive review system for employees and employers
  app/Http/Controllers/Employee/EmployeeProfileController.php
  app/Http/Controllers/Employee/EmployeeReviewController.php
  app/Http/Controllers/Employer/EmployerReviewController.php
  app/Http/Controllers/Review/ReviewController.php
  app/Http/Requests/Review/CreateReviewRequest.php
  app/Http/Requests/Review/UpdateReviewRequest.php
  app/Models/Application.php
  app/Models/EmployeeProfile.php
  app/Models/EmployerProfile.php
  app/Models/Review.php
  app/Models/User.php
  app/Policies/ReviewPolicy.php
  app/Services/Employer/EmployerWorkerService.php
  app/Services/Review/ReviewService.php
  database/migrations/2025_11_20_222734_update_reviews_table_for_review_system.php
  package-lock.json
  package.json
  resources/js/components/nav-main.tsx
  resources/js/components/profile/TabNavigation.tsx
  resources/js/components/reviews/ReviewCard.tsx
  resources/js/components/reviews/ReviewForm.tsx
  resources/js/components/reviews/ReviewList.tsx
  resources/js/components/reviews/ReviewStats.tsx
  resources/js/components/reviews/StarRating.tsx
  resources/js/pages/employee/profile.tsx
  resources/js/pages/employee/reviews/create.tsx
  resources/js/pages/employee/reviews/index.tsx
  resources/js/pages/employer/applications/index.tsx
  resources/js/pages/employer/reviews/create.tsx
  resources/js/pages/employer/reviews/index.tsx
  resources/js/pages/employer/workers/show.tsx
  resources/lang/en/reviews.php
  resources/lang/fr/reviews.php
  routes/employee.php
  routes/employer.php
Due: eslint --fix, prettier --write, composer format

Add comprehensive UAT Testing Portal with Employer, Employee, Admin, and Custom sections
  app/Http/Controllers/UatTestingController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/CustomTest.php
  app/Models/TestResult.php
  app/Models/TestTimeLog.php
  app/Models/TesterSession.php
  database/migrations/2025_11_20_224110_create_uat_test_results_table.php
  database/migrations/2025_11_20_224114_create_uat_tester_sessions_table.php
  database/migrations/2025_11_20_224116_create_uat_test_time_logs_table.php
  database/migrations/2025_11_20_224117_create_uat_custom_tests_table.php
  database/seeders/UatTestScenariosSeeder.php
  package-lock.json
  package.json
  resources/js/components/ui/radio-group.tsx
  resources/js/pages/uat-testing/index.tsx
  resources/lang/en/uat-testing.php
  resources/lang/fr/uat-testing.php
  routes/web.php
Due: eslint --fix, prettier --write, composer format

Seeder fix
  database/seeders/CompaniesAndJobsSeeder.php
  database/seeders/GlobalProvincesAndCitiesSeeder.php
  database/seeders/JobSeeder.php
  database/seeders/SubscriptionPlanSeeder.php
Due: composer format

UAt testing scenarios added
  database/seeders/DatabaseSeeder.php
Due: composer format

admin section created
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar-header.tsx
Due: eslint --fix, prettier --write

Add cancel button to employer onboarding page to allow users to exit and return to homepage
  resources/js/pages/employer/onboarding.tsx
Due: eslint --fix, prettier --write

Paddle setup complete
  app/Http/Controllers/SubscriptionController.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Models/User.php
  app/Services/SubscriptionService.php
  composer.json
  composer.lock
  config/cashier.php
  database/migrations/2019_05_03_000001_create_customers_table.php
  database/migrations/2019_05_03_000002_create_subscriptions_table.php
  database/migrations/2019_05_03_000003_create_subscription_items_table.php
  database/migrations/2019_05_03_000004_create_transactions_table.php
  database/migrations/2025_11_22_151559_add_paddle_fields_to_subscriptions_table.php
  database/migrations/2025_11_22_151602_create_paddle_products_table.php
  documentation/paddle-cashier-integration.md
  resources/js/pages/subscriptions/index.tsx
  routes/web.php
Due: eslint --fix, prettier --write, composer format

Complete Paddle Cashier integration with subscription status display
  PADDLE-INTEGRATION-STATUS.md
  PADDLE_SETUP_GUIDE.md
  SUBSCRIPTION-QUICK-START.md
  app/Console/Commands/CheckPrices.php
  app/Console/Commands/ListSubscriptionPlans.php
  app/Console/Commands/MapPaddleProduct.php
  app/Console/Commands/SyncSubscription.php
  app/Http/Controllers/SubscriptionController.php
  app/Http/Middleware/CheckSubscriptionPlan.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Models/PaddleProduct.php
  app/Models/User.php
  bootstrap/app.php
  config/cashier.php
  documentation/subscription-checking-guide.md
  resources/js/components/SubscriptionGuard.tsx
  resources/js/components/subscription-badge.tsx
  resources/js/pages/subscriptions/index.tsx
  resources/js/types/subscription.ts
  resources/lang/en/subscriptions.php
  resources/lang/fr/subscriptions.php
  routes/debug.php
  routes/web.php
Due: eslint --fix, prettier --write, composer format

Add subscription payment tracking to admin payments section
  app/Console/Commands/CreateSubscriptionPayment.php
  app/Console/Commands/SyncPaddleTransactions.php
  app/Listeners/RecordSubscriptionPayment.php
  app/Models/Payment.php
  app/Providers/EventServiceProvider.php
  app/Services/Admin/AdminPaymentService.php
  database/migrations/2025_11_22_182530_add_subscription_type_to_payments_table.php
Due: composer format

Fix footer on how-it-works page to match welcome page footer structure
  .playwright-mcp/paddle-checkout-success.png
  .playwright-mcp/paddle-error.png
  .playwright-mcp/paddle-overlay.png
  app/Http/Controllers/Employer/EmployerWorkerController.php
  app/Http/Requests/Admin/UpdateUserRequest.php
  app/Services/Admin/AdminUserService.php
  composer.json
  composer.lock
  resources/js/pages/admin/users/edit.tsx
  resources/js/pages/admin/users/index.tsx
  resources/js/pages/employer/workers/show.tsx
  resources/js/pages/how-it-works.tsx
  resources/lang/en/admin.php
  resources/lang/en/dashboard.php
  resources/lang/fr/admin.php
  resources/lang/fr/dashboard.php
  resources/views/pdfs/employee-profile.blade.php
  routes/employer.php
Due: eslint --fix, prettier --write, composer format

Implement employee profile PDF export with enhanced layout and design
  app/Http/Controllers/Employer/EmployerWorkerController.php
  resources/js/pages/employer/workers/show.tsx
  resources/views/pdfs/employee-profile.blade.php
Due: eslint --fix, prettier --write, composer format

Simplify How It Works page footer - keep only copyright message
  resources/js/pages/how-it-works.tsx
Due: eslint --fix, prettier --write

Add pricing page with employee and employer plans
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/pages/pricing.tsx
  resources/js/pages/welcome.tsx
  resources/lang/en/pricing.php
  resources/lang/fr/pricing.php
  routes/web.php
Due: eslint --fix, prettier --write, composer format

Update pricing page logo and welcome page button links
  resources/js/pages/pricing.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

Remove French translations from pricing page to debug server crash
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/pages/pricing.tsx
Due: eslint --fix, prettier --write, composer format

Fix SSR crash on welcome page and update footer links
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

Fix critical SSR crash on homepage (502 error)
  resources/js/pages/welcome.tsx
Due: eslint --fix, prettier --write

Add comprehensive marketing plan with 10 slogans and Canada-focused strategy
  documentation/marketing-plan.md
Due: none

feat: Implement comprehensive security enhancements
  app/Http/Controllers/Auth/ReauthenticateController.php
  app/Http/Controllers/Employer/OnboardingController.php
  app/Http/Middleware/CheckInactivity.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Middleware/SecurityHeaders.php
  app/Models/ContactCredit.php
  app/Models/ContactReveal.php
  app/Models/EmployerProfile.php
  app/Models/FailedLoginAttempt.php
  app/Models/SecurityLog.php
  app/Services/Security/ContactRevealService.php
  app/Services/Security/SecurityLogService.php
  bootstrap/app.php
  config/session.php
  database/migrations/2025_11_23_133201_add_company_number_to_employer_profiles_table.php
  database/migrations/2025_11_23_135455_create_security_logs_table.php
  database/migrations/2025_11_23_135457_create_failed_login_attempts_table.php
  database/migrations/2025_11_23_135459_create_contact_reveals_table.php
  database/migrations/2025_11_23_135501_create_contact_credits_table.php
  documentation/security-implementation-report.md
  resources/js/components/InactivityTimeout.tsx
  resources/js/components/onboarding/employer/BusinessInfoStep.tsx
  resources/js/layouts/app-layout.tsx
  resources/js/pages/auth/reauthenticate.tsx
  resources/js/routes/index.ts
  resources/lang/en/onboarding.php
  resources/lang/en/validation.php
  resources/lang/fr/onboarding.php
  resources/lang/fr/validation.php
  routes/auth.php
  vite.config.ts
Due: eslint --fix, prettier --write, composer format
